/*****************************************************************************
      Globale stiler - mobil
      Mobile first
*****************************************************************************/
body {
  font-family: 'Courgette', cursive;
  background: #2e2e2e;
  color: orange;
  margin: 0;
}
#meny {
  background-color: red;
}
#topp {
  background-color: green;
  background-image: url(img/lite.jpg);
  height:224px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar{background-color: red!important;}
#content{
  background-color: blue;
}
#sidebar{
  background-color: yellow;
}
#right{
  background-color: pink;
  /* Denne boksen skal IKKE vises på mobil.*/
  display: none;
}
#bunntekst{
  background-color: indigo;
}

#meny,#topp,#content,#sidebar,#right,#bunntekst {
  padding: 20px;
  /* Bytte til en mer moderne beregnings modell
  som IKKE tar paddingen i beregningen.*/
  box-sizing: border-box;
}
/* skalering av bilder */
img {
  max-width: 100%;
  /* Noen eldre nettlesere vil med dette skalere små bilder opp i størrelse.. */
  width: auto;
}
/* formater P hvis den står inne i #bunntekst*/
#bunntekst p {
  text-align: center;
  font-size: 200%;
}
/* formater avsnitt nr 2 etter h2 hvis rekkefølgen er eksakt denne*/
h2+p+p {
  color: red;
}
/******************************************************************************
             Nettbrett - arver ALT fra mobil (over denne kommentaren)
             Her gjør vi kun de endringene som skal skje på nettbrett.
             769px
******************************************************************************/
@media screen and (min-width:769px){
  #topp {
    background-image: url(img/medium.jpg);
  }
  #content {
    width:70%;
    float:right;
  }
  #sidebar {
    display:flex;
    width:30%;
    float:left;
    align-items: center;

  }
  #bunntekst {
    /* Sørge for at footer alltid kommer nederst. */
    clear:both;
  }
  main {
    display: flex;
  }
} /* nettbrett 769px*/
/****************************************************************************
           Desktop - arver alt for nettbrett OG mobil...
****************************************************************************/
@media screen and (min-width: 1025px){
  #topp{
    background-image: url(img/stort.jpg);
  }
  #right {
    display:block;
    float:left;
    width:25%;
    order:2;
  }
  #content {
    width:50%;
    float:left;
    order: 1;
  }
  #sidebar {
    width:25%;
    float: left;
    order: 0;
  }
  main {
    max-width: 1200px;
    margin:auto;
  }
}/*Desktop 1025px*/
